<?xml version="1.0"?>
<config>
    <modules>
        <Rainconcert_SurveyManager>
            <version>0.1.3</version>
        </Rainconcert_SurveyManager>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Rainconcert_SurveyManager>
                    <files>
                        <default>Rainconcert_SurveyManager.csv</default>
                    </files>
                </Rainconcert_SurveyManager>
            </modules>
        </translate>
        <routers>
            <surveymanager>
                <use>standard</use>
                <args>
                    <module>Rainconcert_SurveyManager</module>
                    <frontName>surveymanager</frontName>
                </args>
            </surveymanager>
        </routers>
        <layout>
            <updates>
                <surveymanager>
                    <file>surveymanager.xml</file>
                </surveymanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <surveymanager>
                <use>admin</use>
                <args>
                    <module>Rainconcert_SurveyManager</module>
                    <frontName>surveymanager</frontName>
                </args>
            </surveymanager>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <surveymanager translate="title" module="surveymanager">
                <title>Survey Manager</title>
                <sort_order>68</sort_order>
                <children>
                    <survey_manage module="surveymanager">
                        <title>Manage Surveys</title>
                        <sort_order>0</sort_order>
                        <action>surveymanager/adminhtml_index/index</action>
                    </survey_manage>
                    <survey_qns module="surveymanager">
                        <title>Manage Questions/Answers</title>
                        <sort_order>1</sort_order>
                        <action>surveymanager/adminhtml_index/questions</action>
                    </survey_qns>
                </children>
            </surveymanager>
        </menu>
        <translate>
            <modules>
                <Rainconcert_SurveyManager>
                    <files>
                        <default>Rainconcert_SurveyManager.csv</default>
                    </files>
                </Rainconcert_SurveyManager>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Rainconcert_SurveyManager>
                            <title>Survey Manager</title>
                            <sort_order>10</sort_order>
                        </Rainconcert_SurveyManager>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <surveymanager translate="title" module="surveymanager"> 
                                            <title>Survey Manager</title>
                                            <sort_order>50</sort_order>
                                        </surveymanager>
                                    </children>							
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <surveymanager>
                    <file>surveymanager.xml</file>
                </surveymanager>
            </updates>
        </layout>
    </adminhtml>   

    <global>
        <models>
            <surveymanager>
                <class>Rainconcert_SurveyManager_Model</class>
                <resourceModel>surveymanager_mysql4</resourceModel>
            </surveymanager>
            <surveymanager_mysql4>
                <class>Rainconcert_SurveyManager_Model_Mysql4</class>
                <entities>
                    <survey>
                        <table>survey</table>
                    </survey>
                    <surveyquestions>
                        <table>survey_questions</table>
                    </surveyquestions>
                    <surveyqnrelation>
                        <table>survey_qn_relation</table>
                    </surveyqnrelation>
                    <surveyanswer>
                         <table>survey_answer</table>
                    </surveyanswer>
                    <survey_answer_value>
                        <table>survey_answer_value</table>    
                    </survey_answer_value>
                    <surveyresults>
                        <table>survey_result</table> 
                    </surveyresults>
                    <surveyresultvalue>
                        <table>survey_result_value</table> 
                    </surveyresultvalue>
                </entities>
            </surveymanager_mysql4>
        </models>
        <resources>
            <surveymanager_setup>
                <setup>
                    <module>Rainconcert_SurveyManager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </surveymanager_setup>
            <surveymanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </surveymanager_write>
            <surveymanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </surveymanager_read>
        </resources>
        <blocks>
            <surveymanager>
                <class>Rainconcert_SurveyManager_Block</class>
            </surveymanager>
        </blocks>

        <helpers>
            <surveymanager>
                <class>Rainconcert_SurveyManager_Helper</class>
            </surveymanager>
        </helpers>
        
    </global>
</config>